<%= link_to "Home", root_path %>
<h1>Hello, <%= @user.firstname %></h1>
<p>Here is your params</p>
<%= @user.firstname %><br/>
<%= @user.lastname %><br/>
<%= @user.email %><br/>

<%= link_to "Edit", edit_user_path %>